﻿@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager

@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Welcome to our FCI exam system</h1>
	<div class="d-flex justify-content-evenly mt-5 row">
		<div class="d-flex flex-column justify-content-center col-12 col-md-5">
			<h2 class="text-decoration-underline mb-3">Take exams with us!</h2>
			<p class="fs-6 text-black-50">
				Login into your account and take the exams and the assignments your instructors made it to test you.
				<br />
				If you do not have account register now and take your exams!
			</p>
			@if (!SignInManager.IsSignedIn(User))
			{	
			<div>
				<a type="button" class="btn btn-primary" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
				<a type="button" class="btn btn-primary" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
			</div>
			}
		</div>
		<div class="col-12 col-md-4">
			<img src="~/images/Hero.jpg" alt="Hero Image" class="img-fluid" />
		</div>
	</div>
</div>
